---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Services from '../components/Services.astro';
import WhySmolOps from '../components/WhySmolOps.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <HowItWorks />
    <Services />
    <WhySmolOps />
    <Contact />
  </main>
  <Footer />
</Layout>
